.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.cards-in{
    margin: 10px;
    padding: 1px;
    flex:  0 1 calc(33.33%-20px); 
}
.card{
    height: 100%;
}
.cardBody{
    display: flex;
    
    
}
.cardDescription{
    height: 150px; 
    -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);

}

.cardImage{
    height: 100%;
}



@media only screen and (max-width: 568px) {
    .cards-in{
        margin: auto;
        padding-bottom: 10px;
    }

    
    
  }