body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
.imageIcon{
    width: 8%;
}
.bugs-container{
    
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    max-width: 90%;
    margin: auto;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.dash{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.bugs-cards{
    padding-top: 20px;
    display: flex;
    margin: auto;
    padding-right: 5px;

}

.bugs-card{
    margin: auto;
    align-items: flex-start;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.dashboard-fullpage > nav{
    display: flex;
    margin: auto;
    
}
.navAdd{
    display: flex;
}
.navAdd > h4{
    padding: 10px;
}

.road-map{
    text-align: center;
    color: white;
    margin: auto;
}
.dashboard-fullpage > h4{
    display: flex;
    float: left;
    margin: auto;

    
}
.commentSection{
    border-radius: 15px;
    background-color : rgba(101, 101, 101, 0.112);
}
.commentp{
    font-size : 15px;
    font-weight: bold;
    padding: 15px;
}
.commentd{
   
    font-weight: 450;
    padding: 10px;
    
}

.commentButton{
    border-radius: 70px;
    width:  10%;
    display: block;
    float: right;
}
.cardComment{
    display: none;
    padding-top: 20px;
    
}

.vCard:hover + .cardComment{
    display: block;
}

.cardComment:hover{
    display: block;

}

.btn-logout {
    color: black;
    background-color: #ffffff;
}

.btn-logout:hover {
    background-color: #bababa;
}

.switchView-btn {
    color: black;
    background-color: #ffffff;
    border: none;
    transition: transform 0.3s;
}

.switchView-btn:hover {
    background-color: #bababa;
    border: none;
    transform: scale(0.95);
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}