.fullpage {
    width: 100%;
    padding: 10%; 
    height: 720px;  
    margin: auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

.fullpage-a{
    color: blue;
    text-decoration: none;
}

.form-head{
    padding-bottom: 20px;
}

.sigin-container {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    max-width: 360px;
    margin: auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.siginpanel {
    display: block;
    text-align: center;
    margin: auto;
}

.sigintextbox {
    padding-bottom: 20px;
}

.message{
    padding-top: 10px;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

